{% extends 'base.html.twig' %}


{% block title %}Hello MainController! {% include('Extensions/navbar.html.twig') %}{% endblock %}
{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>Acceuil</h1>
<div class="example-wrapper">

{{ form(search_form) }}




    {% if (companies is not empty) %}
    {% for company in companies %}
    <div >nom de l'entreprise : {{ company.nameOfCompany }}<br>
        responsable :  {{ company.firstNameOfCompanyManager }} {{ company.nameOfCompanyManager }}<br>
        secteur d'activité : {{ company.sector }}<br>
        specialisation : {{ company.specialization }}<br>
        ville : {{ company.city }} {{ company.postalCode }}<br>
        zone maximale d'activité : {{ company.areaActivity }}<br>
        contact : {{ company.phone }} {{ company.email }}<br>
        cette entreprise existe depuis : {{ company.inActivitySince }}<br><br>

        Note globale : {{ company.generalNotice }}
        Note de qualité : {{ company.qualityNotice }}
        Note de rapidité : {{ company.speedNotice }}
        Note de prix : {{ company.priceNotice }}</div><br><br>

        uuid : {{ company.uuid }}
    {% endfor %}


    {% endif %}

    {% if(search_result) %}
    {{ "nous n'avons pas trouver d'entreprise" }}
    {% endif %}


</div>

    <hr>
    <br>
    {% if notices is not null %}
<div>

    <p>Dernier Avis</p>
    {% for notice in notices %}
    <div>titre : {{ notice.title }} <br> domaine : {{ notice.serviceType }} <br> ville :{{ notice.servicePlace }}
        <br> commentaire : {{ notice.comment }} <br> note generale : {{ notice.generalNotice }} <br> note de qualité : {{ notice.qualityNotice }}
        <br>note de rapidité : {{ notice.speedNotice }} <br> note de prix : {{ notice.priceNotice }}<a href="{{ path('app_delete_notice',{uuidNotice:notice.uuid}) }}">suppimer l'avis</a></div>


        {% for image in notice.images %}
            {% if image is defined %}
                <img src="{{ asset( image) }}" width="100" height="100"/>
            {% endif %}


        {% endfor %}

    </div>
        {% endfor %}
    {% endif %}
{% endblock %}
