{% extends 'base.html.twig' %}


{% block body %}
   <div class="container row">


<h4 class="mt-5 mb-3 col-6 mx-auto color-app">Conversations</h4>
       <div class="col-12"></div>

    {% set who = null %}
    {% set width = null %}
{% for conversation in conversations %}
    <div class="background-notice-app app-border-r-10px col-7 mx-auto p-3 mt-4">
       <span>{% if(conversation.is_read == false) %}🚨{% endif %}</span>

{% if (conversation.who.username is defined) %}

    {% set who = {'entity' : 'user',
                  'name': conversation.who.username,
                  'profile_image' : conversation.who.profileImage,
                  'deleted' : false} %}
    {% elseif (conversation.who.nameOfCompany is defined)  %}

        {% set who = {'entity' : 'company',
                      'name': conversation.who.nameOfCompany,
                      'profile_image' : conversation.who.profileImage,
                      'deleted' : false} %}
    {% else %}

        {% set who = {'entity' : conversation.who.entity,
            'name': conversation.who.nameOfEntity,
            'profile_image' : conversation.who.profileImage,
            'deleted' : true }%}

{% endif %}

    {% if (conversation.width.username is defined) %}
        {% set width = {'entity' : 'user',
            'name': conversation.width.username,
            'profile_image' : conversation.width.profileImage,
            'deleted' : false} %}

    {% elseif(conversation.width.nameOfCompany is defined) %}
        {% set width = {'entity' : 'company',
        'name': conversation.width.nameOfCompany,
        'profile_image' : conversation.width.profileImage,
        'deleted' : false} %}

    {% else %}
            {% set width = {'entity' : conversation.width.entity,
                'name': conversation.width.nameOfEntity,
                'profile_image' : conversation.width.profileImage,
                'deleted' : true }%}
    {% endif %}


        <a href="/conversation/{{ conversation.conversation.uuid }}" class="app-color-text ">
            <div class="row">
            <div class="app-border-right col-7"><img src="{{  asset(who.profile_image)}}" class="app-round-profile-company" {{ who.deleted ?  'style="opacity: 0.2"'  }}/><span class="pl-2 color-app app-fs-1-1em" >{{ who.name }}
            <span class="app-opacity-05 app-color-text app-fs-0-7em">{{ who.entity == 'user' ?  '(utilisateur' :  '(entreprise'  }}{{ who.deleted ?  ' supprimé)' :  ')'  }}</span></span>
            </div>

            <div class=" col-5">

            <img src="{{  asset(conversation.width.profileImage)}}" class="app-round-profile " width="50" height="50"/><span class="pl-2 ">{{ width.name }}
                    <span class="app-opacity-05 app-fs-0-7em">{{ width.entity == 'user' ?  '(utilisateur' :  '(entreprise'  }}{{ width.deleted ?  ' supprimé)' :  ')'  }}</span></span>

            </div>


            </div>

            <div class="app-text-a-end "><span class="app-opacity-05 ">{{ conversation.conversation.createdAt|date("d/m/Y H:i") }}</span></div>
        </a>


    </div>

{% endfor %}


   </div>

{% endblock %}