{% extends 'base.html.twig' %}



{% block body %}


    <div class="container">
        <div class="w-auto app-text-a-end mt-4">
        <a href="{{ path('app_conversations') }}" ><button class="app-fs-0-8em btn btn-primary">💬 Conversations</button></a>
        </div>
        {% if( conversation.who.username is defined ) %}


        <a  href="{{ path('app_user_page', { uuidUser: conversation.who.uuid }) }}" >
            <img src="{{ asset(conversation.who.profileImage) }}" class="app-round-profile-company my-2"/>
            <span class="ml-3 d-inline-block app-color-text">{{ conversation.who.username }}</span>

        </a>
        {% elseif (conversation.who.SIRETNumber is defined) %}
        <a  href="{{ path('app_company_page', { uuidCompany: conversation.who.uuid }) }}" >
            <img src="{{ asset(conversation.who.profileImage) }}" class="app-round-profile-company my-2"/>
            <span class="ml-3 d-inline-block app-color-text">{{ conversation.who.nameOfCompany }}</span>
        </a>
        {% else %}
            <img src="{{ asset(conversation.who.profileImage) }}" class="app-round-profile-company app-opacity-05 my-2"/>
            {% if (conversation.who.entity == 'user') %}
                <span class="app-opacity-05 ml-3 d-inline-block">{{ '(utilisateur supprimé) ' }}{{ conversation.who.nameOfEntity }}</span>
            {% else %}
                <span class="app-opacity-05 ml-3 d-inline-block">{{ '(entreprise supprimé) ' }}{{ conversation.who.nameOfEntity }}</span>
            {% endif %}
        {% endif %}
        <div id="chat-window" class="background-notice-main-app h-75 app-border-r-10px-for-chat app-scroll-chat">
            <div class="row">
                {% for  message in messages %}
                    {% if(message.companyOwner) %}

                        <div class="{{ (message.companyOwner ==  conversation.who) ?  ''  :  'ml-auto' }} row col-md-6 col-12 mx-2 py-3 ">
                            <div class="{{ (message.companyOwner ==  conversation.who) ?  ''  :  'app-text-a-end' }}  col-12">
                                <img src="{{ asset(message.companyOwner.profileImage) }}" class="app-round-profile"/>
                                <span class="app-fs-0-8em app-opacity-05 ml-2">{{ message.companyOwner.nameOfCompany }}</span>
                            </div>
                            <p class="{{ (message.companyOwner ==  conversation.who) ?  'ml-2'  :  'app-text-a-end' }} mt-3 ">
                    <span class="background-notice-app app-border-r-10px p-2 d-inline-block">{{ message.message }}
                        <span class="app-fs-0-8em mt-3 d-block app-opacity-05">{{ message.createdAt|date("d/m/Y H:i" ) }}</span>
                    </span></p><span class="ml-auto"></span></div>

                    {% elseif(message.userOwner) %}
                        <div class="{{ (message.userOwner ==  conversation.who) ?  ''  :  'ml-auto' }} row col-md-6 col-12 mx-2 py-3 ">
                            <div class="{{ (message.userOwner ==  conversation.who) ?  ''  :  'app-text-a-end' }}  col-12">
                                <img src="{{ asset(message.userOwner.profileImage) }}" class="app-round-profile"/>
                                <span class="app-fs-0-8em app-opacity-05 ml-2">{{ message.userOwner.username }}</span>
                            </div>
                            <p class="{{ (message.userOwner ==  conversation.who) ?  'ml-2'  :  'app-text-a-end' }} mt-3 ">
                    <span class="background-notice-app app-border-r-10px p-2 d-inline-block">{{ message.message }}
                        <span class="app-fs-0-8em mt-3 d-block app-opacity-05">{{ message.createdAt|date("d/m/Y H:i" ) }}</span>
                    </span></p></div>

                    {% else %}
                        <div class="{{ (message.talkerDeleted.uuid ==  conversation.who.uuid) ?  ''  :  'ml-auto' }} row col-md-6 col-12 mx-2 py-3 ">
                            <div class="{{ (message.talkerDeleted.uuid ==  conversation.who.uuid) ?  ''  :  'app-text-a-end' }}  col-12">
                                <img src="{{ asset(message.talkerDeleted.profileImage) }}"
                                     class="app-round-profile app-opacity-05"/>
                                <span class="app-fs-0-8em app-opacity-05 ml-2">{{ message.talkerDeleted.nameOfEntity }}</span>
                            </div>
                            <p class="{{ (message.talkerDeleted.uuid ==  conversation.who.uuid) ?  'ml-2'  :  'app-text-a-end' }} mt-3 ">
                    <span class="background-notice-app app-border-r-10px p-2 d-inline-block">{{ message.message }}
                        <span class="app-fs-0-8em mt-3 d-block app-opacity-05">{{ message.createdAt|date("d/m/Y H:i" ) }}</span>
                    </span></p></div>

                    {% endif %}
                    <div class="col-12"></div>
                {% endfor %}


            </div>


        </div>

        {{ form_start(messageForm,{'label':false,'attr':{'class':' mt-auto  d-flex justify-content-between '}}) }}
        {{ form_widget(messageForm.message,{'label':false,'attr':{'class':'h-75 '}}) }}
        {{ form_widget(messageForm.submit,{'label' : 'envoyer', 'attr':{'class':'btn btn-primary app-fs-1-2em'}} ) }}
        {{ form_end(messageForm) }}

    </div>

    <script>chatWindow =
            document.getElementById('chat-window');
        chatWindow.scrollTo(0, chatWindow.scrollHeight);</script>
{% endblock %}
