{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/thoma/DEV/Projets/publico/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/thoma/DEV/Projets/publico/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>

    {% if(visitors is not null) %}
    visiteurs par mois :<br>
        {% for visitor in visitors.months %}
        {{ visitor.month }} : {{ visitor.visitors }}<br>
        {% endfor %}
        visiteurs cette semaine : <br>
        {{ visitors.week }}
        <br>
        visiteurs aujourd'hui :<br>
        {{ visitors.day }}
   {% endif %}
    {% if(search_form is not null) %}

        {{ form(search_form) }}
        {% else %}
            {{ 'okkk' }}
            {{ form(admin_password_form) }}
    {% endif %}

    
        {% if(entities is not null) %}

            {% if (entities.entities is not empty) %}

            {% if (entities.entity == "AuthenticationLog") %}
                {% for auth in entities.entities %}
                    {{ auth.userIp }}
                {% endfor %}
                {% elseif (entities.entity == "User") %}
                    {% for user in entities.entities %}
                        {{ user.username }}
                        <a href="{{ path('app_admin_delete',{uuid:user.uuid}) }}">supprimer l'utilisateur</a>
                        {% for company in user.companies %}
                            {{ company.nameOfCompany }}
                        {% endfor %}

                    {% endfor %}
                {% elseif (entities.entity == "Company") %}
                    {% for company in entities.entities %}
                        <div >nom de l'entreprise : {{ company.nameOfCompany }}<br>
                            responsable :  {{ company.firstNameOfCompanyManager }} {{ company.nameOfCompanyManager }}<br>
                            secteur d'activité : {{ company.sector }}<br>
                            specialisation : {{ company.specialization }}<br>
                            ville : {{ company.city }} {{ company.postalCode }}<br>
                            zone maximale d'activité : {{ company.areaActivity }}<br>
                            contact : {{ company.phone }} {{ company.email }}<br>
                            cette entreprise existe depuis : {{ company.inActivitySince }}<br><br>

                            Note globale : {{ company.generalNotice }}
                            Note de qualité : {{ company.qualityNotice }}
                            Note de rapidité : {{ company.speedNotice }}
                            Note de prix : {{ company.priceNotice }}</div><br><br>
                        {{ company.user.id }}<a href="{{ path('app_admin_delete',{uuid:company.uuid}) }}">supprimer l'entreprise</a>
                    {% endfor %}
            {% endif %}
            {% else %}
                {{ 'pas d\'entité trouvé' }}
            {% endif %}
            {% endif %}

    

</div>
{% endblock %}
