{% extends 'base.html.twig' %}




{% block body %}
    {% block js %}
        <script type="module" src="{{ asset('/javascript/add_input_form_conversation.js') }}"></script>{% endblock %}
    <script src="{{ asset('javascript/viewerjs-master/docs/js/viewer.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('javascript/viewerjs-master/docs/css/viewer.css') }}">

    <div class="row container mx-auto">

        <div class="col-11 mx-auto my-4  mx-sm-0 background-notice-main-app app-border-r-10px ">
            <div class="app-text-a-end mt-2">
                <span class="app-opacity-05">Créé le {{ user.createdAt|date("d/m/Y") }}</span>
            </div>
            <div class="pt-2 pl-2 background-notice-app app-border-r-10px">

                <img class="app-round-profile-company" src="/{{ user.profileImage }}" alt="">
                <span class="ml-3 app-fs-1-3em">{{ user.username }}</span>

                {% if user.companies is not null %}
                    <div class="d-flex justify-content-end pb-3">
                        {% for company in user.companies %}

                            <div class="mx-md-2 my-1">
                                <a href="{{ path('app_company_page', { uuidCompany: company.uuid }) }}" class="app-color-text ">
                                    <img class="app-round-profile mr-md-1" src="/{{ company.profileImage }}" alt="">
                                    <span class="d-inline-block app-fs-0-8em">{{ company.nameOfCompany }}</span>
                                </a>
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="my-3">
                {% if conversationForm is not null and navbar().user.isVerified %}

                    {{ form_start(conversationForm, { 'label': '✉️ envoyer un message','attr':{'class':''}}) }}

                    {{ form_row(conversationForm.createConversation, { 'label': '✉️ envoyer un message','attr':{'class':'btn btn-dark app-fs-0-8em '}}) }}

                    {{ form_row(conversationForm.talker,{'attr':{'class':''}}) }}

                    {{ form_end(conversationForm) }}

                {% endif %}
            </div>
        </div>
        {% set entity = user %}
        {% if notices is defined %}
            <span class="color-app app-fs-1-2em">({{ notices|length }}) Avis</span>
            {% set countOfNotice = 0 %}
            {% for notice in notices %}
                {% set countOfNotice = countOfNotice+1 %}

                {% include('Extensions/notices.html.twig') %}
            {% endfor %}
        {% endif %}
    </div>







{% endblock %}




