







<div class="app-border-r-10px col-11 p-3 my-4 mx-0 background-notice-main-app row" >


    <div class="col-12 col-md-6">
        <a class="app-color-text" href="{{ path('app_user_page', { uuidUser: notice.user.uuid }) }}" >
            <img class="app-round-profile-company my-2" src="{{ asset( notice.user.profileImage) }}" alt="">
            <span class="ml-3 d-inline-block app-fs-1-5em">{{ notice.user.username }}</span>
        </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end ">
        <div class="m-md-3 mt-3 pt-md-2">
            <a href="{{ path('app_company_page', { uuidCompany: notice.company.uuid }) }}" class="text-decoration-none ">
                <img class="mr-2 app-round-profile" src="/{{ notice.company.profileImage }}"/>
                <span class="app-color-text" >{{ notice.company.nameOfCompany }}</span>
            </a>
        </div>
    </div>


    <div class="app-border-r-10px background-notice-app mt-3" >
        <div class="col-12 pt-3">{{ notice.title }}</div>
        <div class="col-12 pb-3 mt-3 text-break">{{ notice.comment[:500] }}{{ (notice.comment|length > 500) ? '...' }}</div>
    </div>

    <div class="mt-3 col-12 d-md-flex justify-content-md-between">
        <span class="mr-2 my-1">🔨 {{ notice.serviceType }}</span>
        <span class="mr-2 my-1 d-block">📍 {{ notice.servicePlace }}</span>
    </div>



    <div id="galley{{ countOfNotice }}" class="pictures d-md-flex justify-content-md-start mt-3">
        {% for image in notice.images %}

            {% if image is defined %}

                <div class=" mx-md-1 d-inline-block app-cursor-pointer" >
                    <img  class="app-border-r-10px app-image-notice" data-original="{{ asset( image) }}" src="{{ asset( image) }}" alt="Cuo Na Lake">
                </div>

            {% endif %}

        {% endfor %}

    </div>


    <hr class="app-hr my-3">

    <div class="col-12 col-sm-7 col-md-6 d-flex justify-content-between ">
        <span>Qualité : {{ notice.qualityNotice }}/10 {{ rating( notice.qualityNotice , 1 ).emoji }}</span>
        <span>Rapidité : {{ notice.speedNotice }}/10 {{ rating( notice.speedNotice , 1 ).emoji }}</span>
        <span>Prix : {{ notice.priceNotice }}/10 {{ rating( notice.priceNotice , 1 ).emoji }}</span>
    </div>

    <div class="col-sm-5 col-md-6 col-11 d-flex justify-content-end my-4">
        <span class="app-fs-1-5em">{{ notice.generalNotice }}/10 {{ rating( notice.generalNotice , 1 ).emoji }}</span>
    </div>


    {% if (navbar().user.uuid is defined and notice.user.uuid == navbar().user.uuid) %}
        <div class="">
            <button class="w-auto  btn btn-danger">
                <a class="app-fs-0-8em mb-2" href="{{ path('app_delete_notice',{uuidNotice:notice.uuid}) }}">
                    <span>🗑️</span>
                    <span class="app-vertical-a-tt app-fs-0-7em app-white" > supprimé</span> </a></button>
        </div>
    {% endif %}

    <div class="col-12 mb-2 d-flex app-opacity-05 justify-content-end">publié {{ date_format(notice.createdAt) }}
    </div>
</div>



<script>
    window.addEventListener('DOMContentLoaded', function () {
        var galley = document.getElementById('galley{{ countOfNotice }}');
        var viewer = new Viewer(galley, {
            url: 'data-original',
            toolbar: {
                oneToOne: true,

                prev: function () {
                    viewer.prev(true);
                },

                play: true,

                next: function () {
                    viewer.next(true);
                },

                download: function () {
                    const a = document.createElement('a');

                    a.href = viewer.image.src;
                    a.download = viewer.image.alt;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
            },
        });
    });
</script>



