{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto row">
{% if error is defined %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="app-h20vh" ></div>
    <div class="col-md-6 col-12 mx-auto background-notice-app pt-3 pb-2 ">

        <span class="color-app app-fs-1-2em">Modification de mot de passe</span>
        {{ form_start(modifyPasswordForm, { 'label': false, 'attr':{'class':'row pt-4'}}) }}

        <div class="col-12">
            {{ form_row(modifyPasswordForm.modifyPassword.first, { 'label': false,'attr':{'class':'','placeholder': 'saisissez votre mot de passe'}}) }}
            {{ form_row(modifyPasswordForm.modifyPassword.second, { 'label': false,'attr':{'placeholder':'saisissez à nouveau votre mot de passe'}}) }}
        </div>
        <div class="col-12  app-text-a-end">
            <button class="btn btn-primary w-100">Modifier</button>
        </div>

        {{ form_end(modifyPasswordForm) }}
        <span class="app-fs-0-7em app-opacity-05 ">Les mots de passe saisie doivent être identique.</span>
    </div>
    </div>

{% endblock %}



