{% extends 'base.html.twig' %}
{% block javascripts %}

    <script src="https://www.google.com/recaptcha/api.js"></script>
    {% include '_partials/_captcha_callback_script.html.twig' %}
{% endblock %}
{% block body %}

<div class="container">
<form id="demo-form" method="POST">
{{form_start(registrationForm)}}

{{form_label(registrationForm.name, 'Prénom')}} 
{{form_row(registrationForm.firstname)}}
{{form_label(registrationForm.name, 'Nom')}} 
{{form_row(registrationForm.name)}}
{{form_row(registrationForm.email)}}
    <fieldset class="additional-values">
        {{ form_label(registrationForm.adreeess) }}
        {{ form_errors(registrationForm.adreeess) }}
        {{ form_widget(registrationForm.adreeess) }}
    </fieldset>
    <fieldset class="additional-values">
        {{ form_label(registrationForm.villle) }}
        {{ form_errors(registrationForm.villle) }}
        {{ form_widget(registrationForm.villle) }}
    </fieldset>

    <button class="g-recaptcha"
            data-sitekey="{{ captcha_site_key }}"
            data-callback='onSubmit'
            data-action='submit'
            type="submit">S'inscrire</button>

{{form_end(registrationForm)}}


</form>
</div>
{% endblock %}